
$color-strength:      #EA2525;
$color-agility:       #3B7837;
$color-intelligence:  #1986AD;   
$color-grey:          #2f2f2f;

.portrait { 
  height: 100px;
  margin: 0 auto;
  -webkit-clip-path: polygon(30% 0, 82% 0, 82% 100%, 30% 100%);
  margin-right: -45px;
  max-width: 100px;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  background: black;
  transform-origin: top left; 
}

.portrait:hover {
  cursor: pointer;
}

body {
  background-image: url("../images/esch.png");
  background-repeat: repeat;
}

.heroes {
  margin-top: 50px;
}

.media {
  overflow: visible !important;
}

.media-body {
  overflow: visible !important; 
  filter: drop-shadow(16px 16px 16px rgba(0,0,0,0.9));
}

.vertMid {
  vertical-align: middle !important;
}

.icon {
  height: 100px;
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

.cont {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 50px;
}

.load {
  margin-top: -3%;
  width: 100%;
  height: 100%;
  background-image: url("../images/esch.png");
  background-repeat: repeat;
  z-index: 10;
  position: absolute;
}

.progress {
    margin: 0 auto;
    width: 50%;
}

.progress-bar {
  background-color: $color-strength !important;
}